.App {
  text-align: center;
  
}

.App-header {
  background: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 4em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: red;
}

.gallerylist{
  font-size: 2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #222;

}

.img {
  height: 300px;
  width: auto;
}

.button {
  background-color: #222;
  border: none;
  color:red;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  border: 2.5px solid red;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.likes{
  background-color: #222;
  border: none;
  color:red;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  border: 2.5px solid red;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

